<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
        <nav th:replace="layout :: menu">(menu)</nav>
        <h1>Atividades</h1>
        
        <a href="/atividades/novo" class="btn btn-primary">Novo</a>

        <table class="table" id="tabatividades">
            <thead>
                <th>Nome</th>
                <th>Custo (R$)</th>
                <th>Data Atividade</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="umaAtividade : ${listaAtividades}">
                    <td th:text="${umaAtividade.nome}"></td>
                    <td th:text="${umaAtividade.custo}"></td>
                    <td th:text="${umaAtividade.data}"></td>
                    <td>
                        <a th:href="@{'/atividades/alterar/' + ${umaAtividade.id}}" class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete"th:data-id="${umaAtividade.id}">Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal" tabindex="-1" id="modelatividade">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Atividade</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão da atividade?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim"  >Sim</button>
                </div>
              </div>
            </div>
        </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptAtividade.js}"></script>
    </body>
</html>