<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head th:include="layout :: htmlhead"></head>
    <body>
      <main class="container">
        <nav th:replace="layout :: menu">(menu)</nav>
        <h1>Destinos</h1>
        
        <a href="/destinos/novo" class="btn btn-primary">Novo</a>

        <table class="table" id="tabdestinos">
            <thead>
                <th>Descrição</th>
                <th>Passar a Noite</th>
                <th>Quantidade de Dias</th>
                <th>Valor por Dia</th>
                <th></th>
            </thead>
            <tbody>
                <tr th:each="umDestino : ${listaDestino}">
                    <td th:text="${umDestino.descricao}"></td>
                    <td th:text="${umDestino.vaiDormir}"></td>
                    <td th:text="${umDestino.quantidadeNoites}"></td>
                    <td th:text="${umDestino.valorNoite}"></td>
                    <td><a th:href="@{'/destinos/alterar/' + ${umDestino.id}}" 
                        class="btn btn-warning">Alterar</a>
                        <button class="btn btn-danger js-delete"
                            th:data-id="${umDestino.id}"
                        >Excluir</button>
                    </td>
                </tr>
            </tbody>
        </table>

        <div class="modal" tabindex="-1" id="modaldestino">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Excluir Cliente</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Confirma a exclusão do cliente?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Não</button>
                  <button type="button" class="btn btn-primary" id="btnsim"  >Sim</button>
                </div>
              </div>
            </div>
        </div>

        <div th:include="layout :: footer">(footer)</div>
        <script th:src="@{/scriptDestino.js}"></script>
      </main>
      </body>
</html>